* {
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

button,
input,
html {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  background-color: $color1;
  color: $color2;
  min-height: 100vh;
}

html {
  word-break: keep-all;
}
main {
  flex: 1;
}

header {
  color: $color1;
  background-color: $color2;
  padding-top: 4em;
  text-align: center;
  max-height: 30em;
  font-weight: bolder;
  > h1 {
    font-size: 7em;
    font-weight: 900;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: lighter;
  padding: {
    top: 9em;
    bottom: 4em;
  }
  text-align: center;
}
