button,
input,
textarea,
html {
  font-family: "Noto Sans KR", sans-serif;
}

button,
a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Noto Sans KR", sans-serif;
  height: 100vh;
  background-color: #282c34;
  white-space: keep-all;
}

main {
  overflow: auto;
}

button,
textarea,
input {
  color: white;
  font-size: 1em;
  outline: none;
}

::-webkit-scrollbar {
  position: fixed;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
}
