button,
input,
textarea,
html {
  font-family: "Noto Sans KR", sans-serif;
}

button,
a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Noto Sans KR", sans-serif;
  height: 100vh;
  background-color: $sideBarSubBg;
  color: $txt;
}

main {
  overflow: auto;
}

button,
textarea,
input {
  border: none;
  color: $txt;
  font-size: 1em;
  outline: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  position: fixed;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
}

footer {
  text-align: center;
  margin: 5em 0;
  color: $descriptionBg;
}
