button,
input,
html {
  font-family: "Noto Sans KR", sans-serif;
}

button,
a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
}

button,
textarea,
input {
  font-size: 1em;
  outline: none;
}
