@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_default.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.sidebar-wrap {
  background-color: #21252b;
  width: 25em;
  color: $txtColor;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.sidebar {
  flex: 1;
  list-style: none;
  padding: 0 1em;
  > li {
    margin: 0.5em 0;
    > * {
      border-radius: 15px;
    }
    > button,
    a {
      display: block;
      padding: 1em;
      background-color: #21252b;
      border: none;
      color: white;
      width: 100%;
      transition: color 0.3s, background-color 0.3s;
      svg {
        transition: fill 0.3s;
      }
      &:hover {
        background-color: white;
        color: black;
        svg {
          fill: black;
        }
      }
    }
  }
  .sidebar-item-title {
    display: flex;
    align-items: center;
    font-weight: 300;
    svg {
      height: 1.5em;
      fill: white;
      margin-right: 0.5em;
    }
  }
}
.commit {
  &.body {
    height: 10em;
  }
  &.footer {
    height: 5em;
  }
  margin-top: 0.5em;
  width: 100%;
  resize: none;
}
.title {
  font-weight: 500;
  text-align: center;
  padding: 0.2em;
}
.message-wrap {
  padding: 1em 1em;
  background-color: #282c34;
  input,
  textarea {
    color: $txtColor;
    border: none;
    background-color: #282c34;
  }
}

.commit-header {
  display: flex;
  gap: 0.5em;
  .short-summary {
    flex: 1;
  }
}

.margin-bottom {
  margin-bottom: 0.5em;
}

.item-wrap {
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1em;
  .item {
    transition: box-shadow 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0 0.5em $txtColor;
    }
  }
  &.emoji {
    > .item {
      border-radius: 15px;
      width: 20em;
      height: 5.5em;
      display: flex;
      overflow: hidden;
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        font-size: 2em;
        background-color: #262626;
      }
      .description {
        padding: 0.5em;
        color: $txtColor;
        background-color: #3b3b3b;
        flex: 1;
      }
    }
  }
}

#contents {
  flex: 1;
}

#version {
  color: #3b3b3b;
  margin: 1.5em;
  text-align: center;
}
