@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_default.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.sidebar {
  background-color: #11101c;
  height: 100vh;
  width: 25em;
  color: white;
  list-style: none;
  padding: 0 1em;
  > li {
    margin: 0.5em 0;
    > * {
      border-radius: 15px;
    }
    > button,
    a {
      display: block;
      padding: 1em;
      background-color: #11101c;
      border: none;
      color: white;
      width: 100%;
      transition: color 0.3s, background-color 0.3s;
      svg {
        transition: fill 0.3s;
      }
      &:hover {
        background-color: white;
        color: black;
        svg {
          fill: black;
        }
      }
    }
  }
  .sidebar-item-title {
    display: flex;
    align-items: center;
    font-weight: 400;
    svg {
      height: 1.5em;
      fill: white;
      margin-right: 0.5em;
    }
  }
}
.commit {
  &.body {
    height: 10em;
  }
  &.footer {
    height: 5em;
  }
  margin-top: 0.5em;
  width: 100%;
  resize: none;
}
.title {
  font-weight: 500;
  text-align: center;
  padding: 0.2em;
}
.message-wrap {
  padding: 1em 1em;
  background-color: #1e1b31;
  input,
  textarea {
    color: white;
    border: none;
    background-color: #1e1b31;
  }
}

.commit-header {
  display: flex;
  gap: 0.5em;
  .short-summary {
    flex: 1;
  }
}

.margin-bottom {
  margin-bottom: 0.5em;
}
