@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_default.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

//sidarbar styles
#sidebar {
  box-sizing: border-box;
  z-index: 3;
  background-color: $sideBarBg;
  min-width: 25em;
  color: $txt;
  padding: 0 1em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  > * {
    display: flex;
    padding: 0.8em;
    border-radius: $borderRadius;
  }
  svg {
    transition: fill 0.2s;
    fill: $txt;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }
  a,
  button {
    transition: background-color 0.2s, color 0.2s;
    background-color: $sideBarBg;
    align-items: center;
    > span {
      font-weight: 300;
      font-size: 1.2em;
    }
    &:hover {
      color: $sideBarBg;
      background-color: $txt;
      > svg {
        fill: $sideBarBg;
      }
    }
  }

  .downloadButton {
    display: none;
  }

  .title {
    flex-direction: column;
    border-radius: 0;
    position: sticky;
    top: 0;
    background-color: $sideBarBg;
    box-shadow: rgba($sideBarBg, 0.95) 0px 0px 10px 10px;
    > h1 {
      font-size: 2.2em;
      text-align: center;
      font-weight: 700;
    }
    > p {
      text-align: center;
      margin-bottom: 0.3em;
    }
  }

  #search {
    align-items: center;
    background-color: $sideBarSubBg;
    > input {
      font-size: 1.2em;
      background-color: $sideBarSubBg;
    }
  }
  .commit-message {
    header {
      font-size: 1.05em;
      display: flex;
      input {
        flex: 1;
      }
      #emoji {
        margin-right: 0.3em;
        padding-bottom: 0.1em;
      }
      #type {
        margin-right: 0.2em;
        padding: {
          bottom: 0.1em;
          left: 0.4em;
          right: 0.4em;
        }
      }
      #shortSummary {
        margin-left: 0.3em;
      }
      #emoji,
      #type {
        border-radius: $borderRadius;
        background-color: $sideBarSubBg;
        border: 1px solid $txt;
        &:hover {
          background-color: $txt;
        }
      }
    }
    #commitBody {
      margin-top: 0.5em;
      height: 10em;
    }
    #commitFooter {
      margin-top: 0.5em;
      height: 5em;
    }
    flex-direction: column;
    background-color: $sideBarSubBg;
    input,
    textarea {
      font-size: 1em;
      background-color: $sideBarSubBg;
    }
  }
}

.margin-bottom {
  margin-bottom: 0.5em;
}

.item-wrap {
  white-space: pre-wrap;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  .item {
    position: relative;
    cursor: pointer;
    display: flex;
    border-radius: $borderRadius;
    min-height: 5.5em;
    transition: box-shadow $defaultSecond;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 0 0.5em rgba($txt, 0.1);
      .example {
        display: block;
      }
    }
    &.small {
      width: 20em;
    }
    &.medium {
      width: 30em;
    }
    &.large {
      width: 100%;
    }
    .content {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      background-color: $contentBg;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0.2em;
      &.emoji {
        font-size: 2em;
        width: 2.5em;
      }
      &.type {
        font-size: 1.5em;
        width: 5em;
      }
      &.keyword {
        font-size: 1.3em;
        width: 7em;
      }
    }
    .description {
      background-color: $descriptionBg;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      padding: 0.5em 1em;
      flex: 1;
    }
    .example {
      font-size: 0.8em;
      padding: 1em 1em;
      border-radius: $borderRadius;
      width: 100%;
      height: 100%;
      background-color: rgba($sideBarBg, 0.95);
      position: absolute;
      display: none;
    }
    &.log {
      background-color: $descriptionBg;
      padding: 0.5em;
      flex-direction: column;
      gap: 1em;
      > h4 {
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#contents {
  flex: 1;
  min-width: 30em;
  > footer {
    text-align: center;
    margin: 5em 0;
    color: $descriptionBg;
  }
}

#version {
  justify-content: center;
  color: $descriptionBg;
}

#scope-input {
  width: 20em;
  background-color: $txt;
  color: $contentBg;
  font-size: 1.2em;
  border: 5px solid $txt;
  border-radius: 50em;
  padding: 1em;
  margin: 1em;
  font-weight: 500;
}

#notification {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2em;
  padding: 1em;
  background-color: rgba($txt, 0.9);
  color: $contentBg;
  font-weight: 400;
  border-radius: $borderRadius;
  &.default {
    display: none;
  }

  &.show {
    @include fadeInRight(0.5s);
  }

  &.hide {
    @include fadeOutRight(0.5s);
  }
}

#searchResults {
  @include fadeInLeft(0.2s);
  display: none;
  position: fixed;
  background-color: rgba($sideBarBg, 0.95);
  width: 40em;
  height: 100vh;
  overflow-y: scroll;
  z-index: 2;
  padding: 1em;
  .no-result {
    text-align: center;
    font-size: 3em;
  }
  .searched-item {
    gap: 0.6em;
    display: flex;
    border-radius: $borderRadius;
    padding: 0.4em;
    margin: 0.5em 0;
    cursor: pointer;
    transition: background-color $defaultSecond, color $defaultSecond;
    &:hover {
      background-color: $txt;
      color: $sideBarBg;
    }
    > dt {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      font-weight: 500;
    }
    > dd {
      display: flex;
      align-items: center;
    }
  }
}

#keywordSection {
  > .item {
    cursor: unset;
  }
}
