@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

button,
input,
html {
  font-family: "Noto Sans KR", sans-serif;
}

$color1: #02343f;
$color2: #f0edcc;
$borderLine: 5px;
html {
  word-break: keep-all;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $color1;
  color: $color2;
  min-height: 100vh;
}

header {
  color: $color1;
  background-color: $color2;
  padding-top: 4em;
  text-align: center;
  max-height: 30em;
  font-weight: bolder;
  > h1 {
    font-size: 7em;
    font-weight: 900;
  }
}

footer {
  font-size: 0.8em;
  font-weight: lighter;
  padding: {
    top: 9em;
    bottom: 4em;
  }
  text-align: center;
}

main {
  flex: 1;
}
.space {
  margin-right: 0.3em;
}
.main-nav {
  z-index: 3;
  @media screen and (max-width: 56em) {
    font-size: 0.8em;
  }
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: $color2;
  top: 0;
  position: sticky;
  padding: 0.8em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > .nav-item-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;
  }
  .button {
    border: $borderLine solid $color1;
    background-color: $color1;
    color: $color2;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.8em 1.5em;
    border-radius: 1000px;
    &.emoji {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 4px;
    }
    &.type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-right: 1em;
    }
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: $color2;
      color: $color1;
    }
  }
  .result-area {
    border-radius: 100px;
    border: $borderLine solid $color1;
    display: flex;
    color: $color1;
    padding: 0.8em;
    font-weight: 600;
    min-width: 30em;
    input {
      outline: 0;
      background-color: $color2;
      border: none;
      font-size: 1em;
      font-weight: 600;
      color: $color1;
    }
    .scope-area {
      text-align: center;
      width: 3.5em;
    }
    .subject-area {
      flex: 1;
    }
  }
}

.search-wrap {
  width: 100%;
  text-align: center;
  margin: 1em;
  .search {
    margin-top: 0.5em;
    max-width: 90%;
    width: 30em;
    font-size: 1.5em;
    padding: 0.3em;
    border-radius: 5px;
    background-color: $color1;
    border: 2px solid $color2;
    color: $color2;
    outline: 0;
  }
}

.keyword-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyword {
  cursor: pointer;
  transition: box-shadow 0.3s;
  margin: 1em;
  border-radius: 5px;
  background-color: $color2;
  width: 25em;
  @media screen and (max-width: 56em) {
    width: 100%;
  }
  border: 2px solid $color2;
  height: 4em;
  display: flex;
  flex-direction: row;
  position: relative;
  > .name {
    font-weight: 900;
    color: $color1;
    padding: 1em;
    transition: width 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &.emoji {
      width: 0;
      font-size: 2em;
    }
    &.type {
      width: 5em;
      font-size: 1.2em;
    }
  }

  > dd {
    white-space: pre-line;
    text-align: left;
    padding: 0 0.5em;
  }

  > .description {
    flex: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $color1;
    transition: background-color 0.3s;
  }

  > .example {
    border-radius: 5px;
    color: white;
    padding: 0.6em;
    display: none;
    z-index: 2;
    background-color: rgba(black, 0.8);
    top: 4.5em;
    left: -0.6em;
    width: 100%;
    position: absolute;
  }
  &:hover {
    > .name {
      -webkit-animation: jello-horizontal 0.9s 0.3s both;
      animation: jello-horizontal 0.9s 0.3s both;
    }
    > .description {
      background-color: lighten($color1, 4%);
    }
    > .example {
      -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
      animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
      display: block;
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-6 4:19:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-5em) scaleY(2.5) scaleX(0.2);
    transform: translateY(-5em) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-6 4:21:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-6 5:1:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
