@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
$color1: #02343f;
$color2: #f0edcc;

html {
  font-size: 16px;
}

body {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
}

header {
  color: #02343f;
  background-color: #f0edcc;
  padding: 5em;
  text-align: center;
  max-height: 30em;
  font-weight: bolder;
  > h1 {
    font-size: 7em;
    font-weight: 900;
  }
}

main {
  flex: 1;
  background-color: $color1;
  color: $color2;

  button,
  input {
    font-weight: 600;
    border-radius: 100px;
    font-size: 1.3em;
    padding: 0.3em 1em;
    border: 5px solid $color2;
    outline: 0;
    margin: 0 0.3em;
  }
  button {
    color: $color1;
    background-color: $color2;
  }
  input {
    color: $color2;
    background-color: $color1;
  }
}

.result {
  width: 100%;
  text-align: center;
}

.main-nav {
  padding: 1em;
}
